{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<table>
<thead>
    <th>id</th><th>title</th><th>content</th><th>author</th><th>datetime</th>
</thead>
<tbody>
    {% for a in articles %}
    <tr>
        <td>{{a.id}}</td>
        <td><a href="{{ path('article.show', {id : a.id}) }}">{{a.title}}</a></td>
        <td>{{a.content|slice(0,300) ~ '...'}}<a href="{{ path('article.show', {id : a.id}) }}">voir plus</a></td>
        <td>{{a.author}}</td>
        <td>{{a.datetime|date('d-m-Y')}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div style="display:flex; justify-content:center; margin-top: 20px;"><strong>
{{ knp_pagination_render(articles) }}

{% endblock %}
